@model IEnumerable<SistemaFlavorsThatInspire.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produto</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Produto", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar" class="btn btn-primary" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoPreco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoDesconto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoPreco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoDesconto)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
