@model IEnumerable<SistemaFlavorsThatInspire.Models.StatusDaEntrega>

@{
    ViewData["Title"] = "Index";
}

<h1>Status da Entrega</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.StatusDaEntregaId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.StatusDaEntregaId" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.StatusDaEntregaId" class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
